body {
  font-family: "Raleway", sans-serif;
  color: #444444;
  background: #00081b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.8s;
  z-index: 997;
  padding: 15px 0;
  opacity: 0.7;
  background: #0d0026;
}

#header:hover {
  box-shadow: 0px 1px 20px 3px #ff92bf1c;
  transition: 0.8s;
}

#header.header-scrolled,
#header.header-inner-pages {
  opacity: 0.9;
  background: #0d0026;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.logo a img {
  transition: 0.3s;
}

.logo a img:hover {
  filter: drop-shadow(10px 2px 20px rgb(163, 87, 255));
  transition: 0.3s;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #5f3f88;
  white-space: nowrap;
  transition: 0.3s;
}

.subscribe-btn {
  color: #d34c9e !important;
}

.subscribe-btn:hover {
  color: #cf60a3 !important;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.nav-link2 {
  color: #a07ad6 !important;
}

.nav-link2:hover {
  color: #c3a7e9 !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #785aa1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 1);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #0a021a;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #785aa1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background: #060118ed;
}

.parallax-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  position: absolute;
  height: 70%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.content1 {
  position: absolute;
  top: 200px;
}

.parallax-img h1 {
  margin: 70px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  transition: 0.3s;
}

.parallax-img h1:hover {
  color: #dfdfdf;
  transition: 0.3s;
}

.parallax-img h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.parallax-img h2:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Second Section
--------------------------------------------------------------*/
.background2 {
  position: absolute;
  right: -10%;
  bottom: 0%;
  height: 70%;
  width: 60%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.content2 {
  width: 750px;
  position: absolute;
  top: 0%;
  left: 290px;
}

.parallax-img2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130%;
  transform-style: preserve-3d;
  z-index: -1;
  top: 115%;
}

.parallax-img2 h1 {
  margin: 70px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  transition: 0.3s;
}

.parallax-img2 h1:hover {
  color: #dfdfdf;
  transition: 0.3s;
}

.parallax-img2 h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.parallax-img2 h2:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Third Section
--------------------------------------------------------------*/
.background3 {
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.content3 {
  width: 25%;
  position: absolute;
  bottom: -55%;
  right: 320px;
}

.parallax-img3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  top: 110%;
}

.parallax-img3 h1 {
  margin: 70px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  transition: 0.3s;
}

.parallax-img3 h1:hover {
  color: #dfdfdf;
  transition: 0.3s;
}

.parallax-img3 h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.parallax-img3 h2:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #868bff;
  background: linear-gradient(to left, #868bff 0%, #dbd2ff 50%, #b6aaff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Forth Section
--------------------------------------------------------------*/
.background4 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 1520px;
  z-index: 1;
  transform: translate(-50%, 70%) scale(1);
  margin-top: -100%;
  margin-left: 50%;
}

.image-fit {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 68%);
  margin-top: 1030px;
  margin-left: 50%;
}

.data {
  position: relative;
  width: 100%;
}

.hide-div {
  display: none;
}

.parallax-img4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* transform-style: preserve-3d; */
  z-index: -1;
  top: 26%;
}

.future-ai-image-div img {
  display: none;
}

.subscribe-update-btn a {
  color: #fff;
  text-decoration: none;
  background: rgb(116, 48, 246);
  background: linear-gradient(
    140deg,
    rgba(116, 48, 246, 1) 0%,
    rgb(187 151 255) 100%
  );
  border-radius: 50px;
  padding: 15px 40px;
  transition: all 0.3s;
}

.subscribe-update-btn a:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transition: all 0.3s;
}

.get-update-btn a {
  color: #fff;
  text-decoration: none;
  background: rgb(116, 48, 246);
  background: linear-gradient(
    140deg,
    rgba(116, 48, 246, 1) 0%,
    rgb(152, 98, 252) 100%
  );
  border-radius: 50px;
  padding: 15px 40px;
  transition: all 0.3s;
}

.get-update-btn a:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transition: all 0.3s;
}

.subscribe-btn a {
  color: #fff;
  text-decoration: none;
  background: rgb(116, 48, 246);
  background: linear-gradient(
    140deg,
    rgba(116, 48, 246, 1) 0%,
    rgb(152, 98, 252) 100%
  );
  border-radius: 50px;
  padding: 15px 40px;
  transition: all 0.3s;
  font-weight: 700;
}

.subscribe-btn a:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transition: all 0.3s;
}

.navbar .subscribe-btn {
  font-weight: bold;
}

#lastSection {
  width: 100%;
  background: #060118 url(./../../images/last-section.png) no-repeat center;
  background-size: 100%;
  position: relative;
  padding: 510px 0 680px;
}

.center-form {
  color: #fff;
  width: 500px;
  margin: 240px auto 0;
  text-align: center;
}

.center-form p {
  font-size: 30px;
  transition: 0.3s;
}

.center-form p:hover {
  color: #dfdfdf;
  transition: 0.3s;
}

.center-form input[type="text"] {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.center-form input[type="submit"] {
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  padding: 15px 40px;
  transition: all 0.3s;
  border: none;
  font-weight: 600;
}

.center-form input[type="submit"]:hover {
  box-shadow: 0 5px 15px rgb(145 92 182 / 68%);
  transition: all 0.3s;
}

.parallax-img5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  top: 110%;
}

.background6 {
  position: absolute;
  right: -10%;
  bottom: 0%;
  height: 70%;
  width: 60%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.parallax-img6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 130%; */
  transform-style: preserve-3d;
  z-index: -1;
}

.footer-line {
  color: #ffffffb9;
  position: absolute;
  bottom: 20px;
  z-index: 100000;
}

.footer-line:hover {
  color: #fff;
  transition: 0.3s;
}

.inner-sction-3 {
  display: flex;
}

.moving-text {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s;
}

.moving-text1 {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s;
}

.moving-text2 {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s;
}

/* FOOTER-LINE */
.background5 {
  position: absolute;
  right: -30%;
  bottom: -165%;
  /* height: 100%; */
  /* width: 10%; */
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.content4 {
  width: 25%;
  position: absolute;
  bottom: -55%;
  right: 320px;
}

.parallax-img5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  top: 90%;
}
/* FOOTER-LINE */

@media (min-width: 1200px) {
  .background4 {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translate(-50%, 70%) scale(1.1);
    margin-top: -67%;
    margin-left: 50%;
  }

  .image-fit {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    margin-top: 40%;
    margin-left: 50%;
  }

  .center-form {
    margin: 3200px auto 0;
    width: 500px;
    color: #fff;
    text-align: center;
  }

  .data {
    position: relative;
    width: 100%;
  }

  .hide-div {
    display: none;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 45px;
    margin: 90px 0 10px 0;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  #hero {
    padding: 120px 0 540px;
  }

  #hero h1,
  #writeAndDebug h1,
  #chromiumDevTools h1 {
    font-size: 38px;
  }

  .cdt-right-side {
    width: 100%;
  }

  #writeAndDebug {
    padding: 120px 0 200px;
  }

  #chromiumDevTools {
    display: block;
  }

  #lastSection {
    padding: 150px 0 300px;
  }

  .center-form input[type="submit"] {
    padding: 8px 40px;
  }

  .center-form p {
    font-size: 22px;
  }

  .moving-text {
    left: 70px;
  }

  .moving-text1 {
    left: 20px;
  }

  .moving-text2 {
    left: 0;
  }

  .content2 {
    width: 750px;
    top: -25%;
    left: 20px;
  }

  .background2 {
    right: -20%;
    height: 50%;
    width: 100%;
  }

  .background3 {
    bottom: -30%;
    height: 50%;
    width: 100%;
  }

  .content3 {
    width: 46%;
    bottom: -30%;
    right: 10px;
  }

  .background4 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1520px;
    z-index: 1;
    transform: translate(-50%, 70%) scale(1.5);
    margin-top: -100%;
    margin-left: 50%;
  }

  .image-fit {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, 68%);
    margin-top: 1030px;
    margin-left: 50%;
  }

  .data {
    position: relative;
    width: 100%;
  }

  .center-form {
    margin: 250px auto 0;
  }
  .background5 {
    right: -30%;
    bottom: -70%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #hero {
    padding: 120px 0 200px;
  }

  #writeAndDebug {
    background: #00081b;
    padding: 60px 0 0;
  }

  #lastSection {
    padding: 150px 0 300px;
  }

  .center-form {
    margin: 3945px auto 0;
    width: 360px;
  }

  .center-form input[type="submit"] {
    padding: 8px 40px;
    font-size: 14px;
  }

  .center-form p {
    font-size: 18px;
  }

  .center-form input[type="text"] {
    height: 34px;
  }

  #hero h1,
  #writeAndDebug h1,
  #chromiumDevTools h1 {
    font-size: 28px;
    line-height: 1.4;
  }

  .cdt-right-side {
    width: 100%;
  }

  .moving-text {
    left: 70px;
  }

  .moving-text1 {
    left: 5px;
  }

  .moving-text2 {
    left: 0;
  }

  .content2 {
    width: 750px;
    top: -25%;
    left: 20px;
  }

  .background2 {
    right: -20%;
    height: 50%;
    width: 100%;
  }

  .background3 {
    bottom: -30%;
    height: 50%;
    width: 100%;
  }

  .content3 {
    width: 46%;
    bottom: -30%;
    right: 10px;
  }

  .parallax-img3 h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .background4 {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translate(-50%, 70%) scale(1.1);
    margin-top: -67%;
    margin-left: 50%;
  }

  .image-fit {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -60%);
    margin-top: 40%;
    margin-left: 50%;
  }

  .data {
    position: relative;
    width: 100%;
  }

  .hide-div {
    display: block;
  }
  .background5 {
    right: -25%;
    bottom: -95%;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .main-banner-section {
    max-width: 100%;
  }

  #hero {
    background: #0a021a;
    padding: 20px 0 0;
  }

  .future-ai-image-div img {
    display: block;
  }

  #header {
    opacity: 1;
  }

  #header.header-scrolled,
  #header.header-inner-pages {
    opacity: 1;
  }

  #writeAndDebug {
    background: #00081b;
    padding: 60px 0 0;
  }

  .write-debug-image-div img {
    display: block;
  }

  #chromiumDevTools {
    display: block;
  }

  #chromiumDevTools h1 {
    margin: 0 0 0px;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
  }

  .cdt-right-side {
    padding-left: 20px;
  }

  #lastSection {
    padding: 150px 0 300px;
    background-size: cover;
  }

  .center-form {
    margin: 110px auto 0;
    width: 284px;
  }

  .center-form input[type="submit"] {
    padding: 8px 40px;
    font-size: 14px;
  }

  .center-form p {
    font-size: 16px;
  }

  .center-form input[type="text"] {
    height: 34px;
  }

  #hero h1,
  #writeAndDebug h1,
  #chromiumDevTools h1 {
    font-size: 28px;
    line-height: 1.4;
  }

  .cdt-right-side {
    width: 100%;
  }

  .moving-text {
    left: 6px;
  }

  .moving-text1 {
    left: 10px;
  }

  .moving-text2 {
    left: 0;
  }

  .parallax-img5 {
    top: 0;
    /* z-index: -2; */
  }

  .content1 {
    top: 80px;
  }

  .parallax-img {
    height: 160%;
  }

  .parallax-img h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .parallax-img h2 {
    margin-bottom: 36px;
    font-size: 18px;
  }

  .background {
    height: auto;
  }

  .background2 {
    height: auto;
    width: 100%;
  }

  .parallax-img2 {
    height: 100%;
    top: -10%;
  }

  .content2 {
    width: 380px;
    left: 0;
    padding: 35px;
  }

  .parallax-img2 h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .parallax-img2 h2 {
    font-size: 18px;
  }

  .parallax-img3 {
    top: -50%;
  }

  .background3 {
    left: 190px;
    bottom: -80%;
    height: auto;
    width: 190%;
  }

  .content3 {
    width: 110%;
    bottom: -75%;
    right: -60px;
  }

  .parallax-img3 h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .parallax-img3 h2 {
    font-size: 18px;
  }

  .parallax-img4 {
    /* top: -84%; */
    left: -62%;
  }

  .parallax-img6 {
    top: 800px;
    position: relative;
  }

  .background4 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* transform: translateZ(-10px) scale(2.4); */
    transform: translate(-37%, 70%) scale(2.4);
    margin-top: -67%;
    margin-left: 100%;
  }

  .image-fit {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -60%);
    margin-top: 40%;
    margin-left: 113%;
  }

  .data {
    position: relative;
    width: 100%;
  }

  .hide-div {
    display: block;
  }
  .background5 {
    right: -0;
    bottom: -95%;
    margin: auto;
    display: block;
    position: relative;
  }
}

@media screen and (min-width: 991px) {
  #header {
    backdrop-filter: blur(5px);
  }
}

@media screen and (max-width: 767px) {
  header #navbar.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #23162c;
}

::-webkit-scrollbar-thumb {
  background: #4e3e82;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #7764b3;
  transition: 0.3s;
}
